.submit-button {
  border-style: solid;
  border-radius: 0 5px 5px 0;
  border-color: #50cc50;
  background-color: #50cc50;
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.input-field {
  border-style: solid;
  border-radius: 5px 0 0 5px;
  border-color: #50cc50;
  border-right: 0;
  padding: 10px;
}

.input-fields,
.input-label {
  display: flex;
}
