.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(to right, #eb6060, #51ecca);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
