.save-button {
  border-radius: 5px;
  background-color: #03a5fc;
  border-style: none;
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
