#main-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#main-table td,
#main-table th {
  border-top: 1px solid #ddd;
  padding: 8px;
}

#main-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#main-table tr:hover {
  background-color: #f6dafd;
}

#main-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #41d69f;
  color: white;
}

#main-table a {
  color: #03a5fc;
}

.watch-button {
  border-radius: 8px;
  background-color: #41d69f;
  text-decoration: none;
  font-weight: 700;
  color: white !important;
  padding: 5px;
  cursor: pointer;
}
